

.inputs {
    text-align: center;
}

.button {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 12px;
    /* width: 50vh;
    height: 10vh; */
}

.text {
    text-align: center;
    width: 50vh;
    height: 10vh;
}


footer {
    background-color: rgb(24, 24, 120);
    height: 30vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    text-align: center;
}

body {
    /* align-items: center; */
    /* width: 80%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: backgroundAnimation 10s linear infinite; */
    background-color: rgba(111, 107, 107, 0.5);
}

/* @keyframes backgroundAnimation {
    0%{
        background-image: url(/images/galah_cockatoo-20231008-0002.jpg);
    }
    50%{
        background-image: url(/images/galah_cockatoo-20231008-0003.jpg);
    }
    100%{
        background-image: url(/images/galah_cockatoo-20231008-0005.jpg);
    }
} */

.image {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    /* align-items: end; */
    /* margin-left: 250px; */
}

.images {
    /* display: flex; */
    /* margin-left: 5px; */
    margin-right: 50px;
    margin-top: 12px;
    margin-bottom: 22px;
    /* justify-content: space-between; */
    /* text-align: end; */
    width: 200px;
    height: 30vh;
}